version: "3.9"

services:

  mongodb:
    image: mongo:7
    container_name: ledger-mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
      MONGO_INITDB_DATABASE: ledger
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: ledger-api
    restart: always
    ports:
      - "8080:8080"
    environment:
      MONGO_URI: mongodb://root:rootpassword@mongodb:27017/ledger?authSource=admin
    depends_on:
      mongodb:
        condition: service_healthy

volumes:
  mongo_data:
